<ul class="post-search-results">
  <% @posts['posts'].each do |post| %>
    <li data-id="<%= post['id'] %>">
      <span class="post-info">
        <%= render :partial => 'post_info', :locals => { :data => post } %>
      </span>
      <input type="button" value="Add" class="add-favorite">
    </li>
  <% end %>
</ul>