<ul>
  <% @tags.each do |tag| %>
    <li data-id="<%= tag['id'] %>">
      <span class="post-info">
        <%= tag['summary'] %>
      </span>
      <input type="button" value="Add" class="addFavorite">
    </li>
  <% end %>
</ul>