<ul class="post-search-results">
  <% @tag_posts["response"]["posts"].each do |tag_post| %>
    <li data-id="<%= tag_post['id'] %>">
      <span class="post-info">
        <%= render :partial => 'post_info', :locals => { :data => tag_post } %>
      </span>
      <input type="button" value="Add" class="add-favorite">
    </li>
  <% end %>
</ul>
