<div class="search-container">
  <%= form_tag search_home_index_path, method: :post, remote: true, :id => 'search-form', :format => :js do %>
    <h4>Blog Name:</h4>
    <%= text_field_tag :blogsearch %><br>
    <h4>Tag:</h4>
    <%= text_field_tag :tagsearch %><br>
    <%= submit_tag "Submit" %>
  <% end %>
</div>

<div class="search-results-container">
</div>

<div class="favorites-container">
  <ul>
    <li>
      <input type="button" value="Remove">
    </li>
  </ul>
</div>

