// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  display: flex;
  flex-direction: row;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 1.42857143;
  color: #605f5d;
  overflow-x: auto;
}

h2, h4 {
  color: #f79b60;
  font-weight: 300;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #605f5d;
}

a:hover {
  color: #f79b60;
}

.search-section {
  border-right: 1px solid #9da3b3;
  flex-basis: 50%;
  max-width: 50%;
}

.search-container {
  border-bottom: 1px solid #9da3b3;
  padding: 20px 50px 50px 50px;
}

.favorites-container {
  flex-basis: 50%;
  max-width: 50%;
}

.favorites-heading {
  padding: 20px 50px 20px 50px;
}

#search-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.blog-name, .tag-name, .submit {
  flex-basis: 50%;
}

.blog-name input, .tag-name input {
  width: 175px;
  height: 20px;
  font-size: 14px;
  color: #9da3b3;
}

.submit {
  margin-top: 20px;
}

.submit input {
  background-color: #57bb89;
  border-radius: 5px;
  color: #fff;
  border: none;
  padding: 5px 15px;
  width: 181px;
  font-size: 12px;
  text-transform: uppercase;
}

.search-results-container, .favorites-results-container {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: auto;
}

.search-results-container li, .favorites-results-container li {
  border: 1px solid #9da3b3;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  margin: 50px;
  padding: 15px 0px 15px 35px;
}

.post-search-results, .favorites-results-container ul {
  overflow: auto;
  flex-basis: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.post-info, .favorite-info {
  flex-basis: 75%;
  overflow: auto;
}

.add-favorite, .remove-favorite {
  border-radius: 5px;
  color: #fff;
  border: none;
  padding: 5px 15px;
  float: right;
  width: 75px;
  height: 30px;
  margin-left: 20px;
  text-transform: uppercase;
}

.add-favorite {
  background-color: #57bb89;
}

.remove-favorite {
  background-color: #f26c77;
}